{% extends 'fetchmovie/base.html' %}
{% block content %}
	
	<div class="container-fluid">
        <ul class="nav nav-pills pull-left">
            <li role="presentation" class="active"><a href="/recommended">top 20</a></li>
        	{% for genre in user_genre_list %}    
            	<li role="presentation"><a href="/filtermovie?genre={{genre}}">{{genre}}</a></li>
        	{% endfor %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu">
                {% for genre in remaining_genre %}
                    <li><a href="/filtermovie?genre={{genre}}">{{genre}}</a></li>
                {% endfor %}
                </ul>
            </li>    
        </ul>
        <ul class="list-inline pull-right">
              <!--   <li class="sortingBtns">
                    <div class='switch'>
                        <div class='quality'>
                            <input checked id='y1' name='q' type='radio' value='q1'>
                            <label for='y1'><a href="/movieoftheday">Today</a></label>
                        </div>
                        <div class='quality'>
                            <input id='y2' name='q' type='radio' value='q2'>
                            <label for='y2'><a href="/similarity">Mood</a></label>
                        </div>
                    </div>
                </li> -->
        </ul>
    </div>

    {% if request.session.sim_movie %}
        <section class="topActionMovies">
            <div class="container-fluid">
                <div class="row">
                    <div class="heading">
                        <h2 class="pull-left">Related to movies you have searched</h2>
                        <button class="btn viewAllBtn pull-right">View All</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="use-btc-slider">
                        <div id="owl-btc-simMovie" class="owl-carousel">
                            {% for row_movie in sim_movies %}
                                <div class="owl-content-btc-div">
                                    <div class="movieImage">
                                    {% load static %}
                                    {% with image_path="http://image.tmdb.org/t/p/w154"|add:row_movie.poster_path %}    
                                        <a href="/similarity?movieId={{row_movie.tmdbId}}">                   
                                                <img src={{image_path}} alt="Movie01" width="150" height="230" onError="this.onerror=null;this.src='{% static 'images/movie-background.png' %}';">
                                            </a>
                                        {% endwith %}
                                    </div>
                                    <p class="movieName">{{row_movie.title}}</p>
                                    <div class="Rating">
                                        <span class="star">Rating</span>
                                        <span class="starNumber">{{row_movie.vote_average}}</span>
                                    </div>
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                </div>
            </div>
        </section>
	{% endif %}
    <section class="movieViews">
        <div class="container-fluid">
            <ul class="list-inline">
                {% for row_movie in movie_list%}
                    <li>
                        <div class="listBlock">
                            <div class="imageLeft">
                                {% load static %}
            {% with image_path="http://image.tmdb.org/t/p/w154"|add:row_movie.poster_path %} 
                            <!-- <a href="/topmovies?movieId={{row_movie.id}}"> -->
                            <a href="/similarity?movieId={{row_movie.id}}">                      
                                <img src={{image_path}} alt="Movie01">
                            </a>
            {% endwith %}
                            </div>
                            <div class="contentRight">
                                <p class="movieName">{{row_movie.name}}</p>
                                <div class="Rating">
                                    <span class="star">Rating</span>
                                    <span class="starNumber">{{row_movie.vote_average}}</span>
                                </div>
                                <div class="pplRecommend">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span class="grayText">{{row_movie.vote_count | floatformat }} people recommended</span>
                                </div>
                                <button class="btn rateBtn" movieid="{{row_movie.id}}">Rate This Movie</button>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    
{% endblock %}

