{% extends 'fetchmovie/base.html' %}
{% block content %}

<!-- <h1><pre>{{request.session.moods}}</pre></h1>
<h1><pre>{{request.session.mood_set}}</pre></h1>
<h1><pre>{{moodMovies}}</pre></h1>
<h1><pre>{{request.session.last_searched_movie}}</pre></h1> -->

	<!-- Breadcrumbs -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb">
					{% if request.session.id %}
						<li><a href="/recommended">Back</a></li>
					{% else %}
						<li><a href="/">Back</a></li>
					{% endif %}
					<li class="active">{{moviedetail.title}}</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-lg-2">
				{% load static %}
				{% with image_path="http://image.tmdb.org/t/p/w154"|add:moviedetail.poster_path %}	
					<img src={{image_path}} alt="Movie01" onError="this.onerror=null;this.src='{% static 'images/movie-background.png' %}';">
				{% endwith %}
			</div>
			<div class="col-md-9 col-lg-10">
				<p class="movieName movieDescName">{{moviedetail.title}}</p>
				<!-- <div class="Rating">
					<span class="rating-static rating-25"></span>
					<span class="starNumber">{{moviedetail.vote_average}}</span>
				</div> -->
				<div class="Rating">
                    <span class="star">Rating</span>
                    <span class="starNumber">{{moviedetail.vote_average}}</span>
                </div>
				<br>
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="title">Genre</div>
						<div class="description">{{genres}}</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="title">Release Date</div>
						<div class="description">{{moviedetail.release_date}}</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="title">Box Office</div>
						<div class="description">Rs. {{moviedetail.revenue}}</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="title">Language</div>
						<div class="description">{{spoken_languages}}</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="title">Runtime</div>
						<div class="description">{{moviedetail.runtime}}</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="title">Homepage</div>
						<div class="description"><a href="{{moviedetail.homepage}}">Click Here</a></div>
					</div>
				</div>
			</div>
		</div>

		<br>
		<div class="row">
			<div class="col-sm-12">
				<div class="overview">
					<h2 class="descHeading">Overview</h2>
					<p>
						{{moviedetail.overview}}
					</p>
				</div>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-sm-12">
				<div class="moviesVideo">
					<h2 class="descHeading">
						Video
					</h2>
					<ul class="list-inline ">
						<li>
							<iframe height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
							</iframe>
						</li>
						<li>
							<iframe height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
							</iframe>
						</li>
						<li>
							<iframe height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
							</iframe>
						</li>
						<li>
							<iframe height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
							</iframe>
						</li>
					</ul>
				</div>
			</div>
		</div> -->
	</div>


{% if moodMovies %}
<!-- The Modal -->
<div id="moodModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content" style="width: 930px">
		<span class="close" data-dismiss="modal">&times;</span>
		<!--  <h3 class="loginTitle">Rate This Movie</h3> -->
		{% if request.session.mood_set == 'inspire' %}
			<p>Looks like you are feeling bit depressed. Lets checkout these movies to lighten up your mood</p>
		{% else %}
			<p>Looks like you are in {{request.session.mood_set}} mood. So We recommended you these movies</p>
		{% endif %}
		<ul class="list-inline">
			{% for row_movie in moodMovies %}
				<li>
					<div class="">
						{% load static %}
						{% with image_path="http://image.tmdb.org/t/p/w154"|add:row_movie.poster_path %} 
						<a href="/topmovies?movieId={{row_movie.id}}">
							<img src={{image_path}} alt="Movie01">
						</a>
						{% endwith %}
						<p>{{row_movie.title}}</p>
						<p>
							<span>Rating</span>
							<span>{{row_movie.vote_average}}</span>
						</p>
					</div>
				</li>
			{% endfor %}
		</ul>
		<!-- <div class="buttons">
			<button id ="modalMoodCancelBtn" class="btn btn-default modalCancelBtn">Cancel</button>
		</div> -->
	</div>
</div>
{% endif %}


{% endblock %}


