@font-face {
  font-family: "SFUIDisplayBold";
  src: url("../fonts/SFUIDisplayBold.eot");
  src: url("../fonts/SFUIDisplayBold.eot") format("embedded-opentype"),
    url("../fonts/SFUIDisplayBold.woff2") format("woff2"), url("../fonts/SFUIDisplayBold.woff") format("woff"),
    url("../fonts/SFUIDisplayBold.ttf") format("truetype"),
    url("../fonts/SFUIDisplayBold.svg#SFUIDisplayBold") format("svg");
}

@font-face {
  font-family: "SFUIDisplayRegular";
  src: url("../fonts/SFUIDisplayRegular.eot");
  src: url("../fonts/SFUIDisplayRegular.eot") format("embedded-opentype"),
    url("../fonts/SFUIDisplayRegular.woff2") format("woff2"), url("../fonts/SFUIDisplayRegular.woff") format("woff"),
    url("../fonts/SFUIDisplayRegular.ttf") format("truetype"),
    url("../fonts/SFUIDisplayRegular.svg#SFUIDisplayRegular") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #090f21;
  font-family: "SFUIDisplayRegular";
}
.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}
.logoImg {
  max-width: 205px;
}
.navbar-default {
  background-color: #090f21;
  /* border-color: #090f21; */
  /* border-color: #ffffff; */
  border: 0;
  border-radius: 0;
  min-height: 100px;
}
.navbar-right {
  border-bottom: 1px solid #222738;
}
.navbar-nav > li {
  padding: 18px 15px 14px;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 2px solid transparent;
}
.navbar-nav > li:last-child {
  margin-right: 0;
}
.menuheader .navbar-nav > li > a {
  line-height: 1;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: "SFUIDisplayRegular";
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav > li.active {
  border-bottom: 2px solid #ffc400;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffee;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #ffc400;
  background-color: transparent;
}

.loginBtn a {
  min-width: 100px;
  min-height: 42px;
  text-align: center;
  color: #000000 !important;
  font-size: 16px;
  font-family: "SFUIDisplayBold" !important;
  background-color: #ffc400;
}
.loginBtn a:hover,
.loginBtn a:focus,
.loginBtn a:active {
  background-color: #ffc400 !important;
}

.heading {
  display: table;
  width: 100%;
}
.heading h2 {
  display: table-cell;
  font-family: "SFUIDisplayBold";
  margin-bottom: 30px;
  font-size: 34px;
  color: #ffffff;
}
.viewAllBtn {
  display: table-cell;
  min-width: 95px;
  min-height: 40px;
  line-height: 1;
  color: #ffc400;
  padding-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #222738;
  background-color: transparent;
  font-family: "SFUIDisplayRegular";
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 30px;
}
.viewAllBtn:hover,
.viewAllBtn:focus,
.viewAllBtn:active {
  color: #fff;
  outline: 0;
}
.movieImage {
  max-width: 198px;
  height: 300px;
  margin-bottom: 12px;
  overflow-y: hidden;
}
.movieImage img {
  width: 100%;
}
p.movieName,
.star {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}
/* .owl-item {
  max-width: 213px !important;
} */

.owl-content-btc-div {
  margin-right: 15px;
}
.starNumber {
  font-size: 14px;
  color: #929ab3;
  padding-left: 4px;
}
.use-btc-slider {
  position: relative;
  overflow: hidden;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 6% auto 0;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */

.modalLoginBtn,
.modalCancelBtn {
  min-width: 100px;
  min-height: 42px;
  text-align: center;
  color: #000000 !important;
  font-size: 16px;
  font-family: "SFUIDisplayBold" !important;
  background-color: #ffc400;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  margin-left: 4px;
  margin-right: 4px;
}
.modalLoginBtn:hover,
.modalLoginBtn:focus,
.modalLoginBtn:active {
  background-color: #ffc400;
  outline: 0;
}
.modalCancelBtn,
.modalCancelBtn:hover,
.modalCancelBtn:focus,
.modalCancelBtn:active {
  background-color: #e6e6e6;
  outline: 0;
}

h3.loginTitle {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "SFUIDisplayBold";
}
.modal-content label {
  font-size: 15px;
  line-height: 1;
  color: #000000;
  margin-bottom: 8px;
}
.form-control {
  border-radius: 0;
  min-height: 46px;
  font-size: 14px;
}

.modal-content input::placeholder {
  font-size: 14px;
}

.buttons {
  text-align: center;
  margin-top: 30px;
}

.owl-prev{
  position: absolute;
  top: 150px;
  left: 0px;
}

.owl-next {
  position: absolute;
  top: 150px;
  right: 0px;
}